
body{
  text-align: center;
  width: 40%;
  margin: auto;
  background-color: #0F3047;
}

#topHeader {
  background-color: #2C85C7;
  height: 126px; 
  width: 100%; 
  top: 0px; 
  left:0px; 
  position:absolute; 
}

#productBar {
  background-color: #6DA6D0;
  height: 46px; 
  width: 100%; 
  top:100px; 
  left: 0px; 
  position: absolute;
}

#brandLogo { 
  float:left;
  padding-top:5px;
}

#shoppingCart {
  height:46px; 
  width:46px; 
  float:right;
  padding-right:10px;
  padding-left:4px;
  border-left: solid 2px;
  border-color: #0F3047;
}
p {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.starterImage{
  width: 16em;
}

.barButton {
    font-family: 'Roboto'; 
    font-style: 'Black';
    background-color: #6DA6D0; 
    border-style: solid;
    border-color: #0F3047;
    height: 46px;
    border-top: none;
    border-bottom: none; 
    border-right:none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25pt; 
    float:right;
}

.flex-grid-thirds {
  display: flex;
}
.flex-grid-thirds .col {
  width: 30%;
  flex: 1;
  margin: 10px; 
  margin-left:0px;
}

.homeImg {
  width:90%;
}

.imgCaption {
  font-family: 'Roboto Black';
  font-size: 22px; 
  color: #6DA6D0;
  text-align: left;
  margin-left: 25px; 
}

#content {
  top: 172px; 
  left: 0px;
  width:1366px;
  position: absolute; 
  margin: 60px;
  margin-top: 0px; 
  margin-left:30px; 
}

#welcomeMessage {
  text-align: left;
  color: #6DA6D0;
  font-family: 'Roboto Black';
  font-size: 25px;
  margin-left: 20px; 
}
