#content {
  margin-left: 0px;
  margin-top: 0px;
}

.flex-grid-wide {
  display: flex; 
}

.flex-grid-wide .col {
  margin: 15px; 
}

#carousel {
  height: 300px; 
}
.carouselImg {
  width: 98px;
  height: 98px; 
}

.mainCarouselImg {
  width: 300px;
  height: 300px; 
}

#buttons {
  position: relative;
}

#bottomCartButton {
  position: absolute; 
  bottom: 0px;
  left: 0px;
}

#descriptions {
  font-family: 'Roboto Medium';
  color: #6DA6D0;
  text-align: left;
  font-size: 16px; 
}

.descRow {
  margin-top: 10px;
}

.productTitle {
  font-family: 'Roboto Black';
  font-size: 25px; 
}

.productDescription {
  height: 240px; 
  font-size:18px;
}

.sizeBox {
  float:left;
  margin-right: 10px; 
  width: 68px; 
  height: 68px;
  background-color: #6DA6D0;
  border-radius: 19px; 
  border: 1px solid; 
  border-color: white; 
  color: black; 
  text-align: center;
  vertical-align: middle; 
}

.boxContainer {
  margin-bottom: 80px;
}

#strawberry {
  background-color: #FF43A4;
}

#blackberry {
  background-color: #4D0036;
}

#crazyberry {
  background-color: #815ec4;
}

#camoflauge {
  /*  Taken from css-tricks.com*/
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 10px,
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px
  ),
  url(http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/old_map_@2X.png);
}

#nightMoon {
  background-color: antiquewhite; 
}

#fireOrange {
  background-color: #E25822;
}
